html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  /* background-color: #23272F; */
  height: 100%;
}

html, body, .App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Contenuto allineato verso l'alto */
  flex-wrap: wrap;
  height: 100%;
}

h2 {
  text-align: center;
  padding: 10px;
  margin: 0;
}

button {
  border: none;
  background-color: rgb(139, 205, 218);
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(47, 148, 206);
}

.active {
  background-color: rgb(50, 77, 110);
  color: white;
}

.mainContainer {
  background-color: rgb(139, 205, 218);
  padding: 0 30px 30px 30px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
}

.subContainer {
  background-color: whitesmoke;
  padding: 20px;
  padding-top: 10px;
}

.inputForm {
  margin: 15px 0;
  margin-top: 5px;
}

.inputForm h3 {
  margin: 10px 0 5px 0;
  text-align: center;
}

.inputContainer {
  width: fit-content;
  margin: 0 auto;
  display: flex;

}

.inputForm input {
  width: 150px;
  padding: 5px;
  line-height: 1.5;
  box-sizing: border-box;
  min-height: 1.5em;
  border: 1px solid #d7d2d2;
  font-family: inherit;
    border-radius: 5px;
}

.inputForm input:focus {
  outline: none;
  border: 1px solid rgb(139, 205, 218); /* Cambia il bordo quando è attivo */
  box-shadow: 0 0 5px rgba(139, 205, 218, 0.8); /* Aggiungi un effetto visivo */
}

.inputForm button {
  margin-left: 5px;
  padding: 4px 5px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tasksContainer {
  width: 500px;
  background-color: rgb(46, 84, 97);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subContainer h4 {
  margin: 15px 0;
}

.task {
  background-color: rgb(63, 110, 126);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.task div {
  display: flex;
  gap: 10px;
}

.checked {
  text-decoration: line-through;
  color: black;
}

@media (max-width: 630px) {

  .mainContainer {
    width: 90%; /* Occupare quasi tutta la larghezza disponibile */
    padding: 15px;
  }

  .tasksContainer {
    width: 96%; /* Rimuovi larghezze fisse */
    padding: 10px;

  }

  .task {
    flex-wrap: wrap;
    gap: 50px; /* Riduci lo spazio tra gli elementi */
    justify-content: space-between; /* Allinea gli elementi a sinistra */
  }

  .inputForm input {
    width: 100%; /* L'input si espande */
  }

  .buttonsContainer {
    margin: 0;
    margin-top: 15px;
  }

  .buttonsContainer, .buttons {
    flex-wrap: wrap;
    gap: 10px;
  }
}
